<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">Login</h1>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email" class="form-label">Email Address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <input type="email" 
                 id="email" 
                 formControlName="email" 
                 class="form-control" 
                 [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" 
                 placeholder="Enter your email" />
        </div>
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback d-block">
          <div *ngIf="f['email'].errors?.['required']">Email is required</div>
          <div *ngIf="f['email'].errors?.['email']">Please enter a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input type="password" 
                 id="password" 
                 formControlName="password" 
                 class="form-control" 
                 [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" 
                 placeholder="Enter your password" />
        </div>
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback d-block">
          <div *ngIf="f['password'].errors?.['required']">Password is required</div>
        </div>
      </div>

      <div class="form-group mt-4">
        <button [disabled]="loading" class="btn btn-primary btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Sign In
        </button>
      </div>

      <div class="form-group text-center">
        <a routerLink="../forgot-password" class="text-primary">Forgot Password?</a>
      </div>

      <div class="form-group text-center mt-4">
        <p class="mb-0">Don't have an account? <a routerLink="../register" class="text-primary">Register</a></p>
      </div>
    </form>
  </div>
</div>